/*CSS for the poster.html*/

/*BODY*/
body {
	background-image: url("../images/napoleon-dynamite-movie-poster-photoshop.jpg");
	background-repeat: no-repeat;
	margin: 0;
	max-width: 510px;
	height: 745px;
}
h1 {
	font-family: 'Homemade Apple', cursive;
	font-size: 2.5em;
	position: relative;
	left: 35px;
	top: -10px;
	transform: rotate(-4deg);
}

/*ASIDE*/
aside {
	font-family: 'Alegreya SC', serif;
	line-height: 0.8em;
	position: relative;
	left: 7.8em;
	top: 26.8em;
	text-align: center;
	transform: rotate(-3deg);
}

aside q {
	text-transform: uppercase;
	font-size: 0.9em;
}

aside p {
	font-size: 0.6em;
	position: relative;
	bottom: 11px;
}

/*FOOTER*/
footer {
	position: relative;
	left: 0.3em;
	top: 29em;
}
footer p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 0.8em;
	color: #8b8683;
	text-align: center;
	line-height: 0.3em;
}

footer em {
	font-style: normal;
}

#website {
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 0.45em;
	text-align: center;
}

footer h3 {
	font-family: sans-serif;
	text-transform: uppercase;
	color: #ff263b;
	text-align: center;
}
